.primary.ubuntuh1 {
    margin-top: -50px; /* Sesuaikan dengan jumlah margin atas yang diinginkan */
  }
  
  .primary.ubuntuh3 p {
    margin-bottom: 0px; /* Sesuaikan dengan jumlah margin bawah yang diinginkan */
  }

  .primary.ubuntuh1 {
    margin-top: -50px;
  }
  
  .primary.ubuntuh3 p {
    margin-bottom: 0px;
  }