<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>navbar</title>
  </head>
  <body class="d-flex flex-column min-vh-100">
    <div class="container flex-grow-1">
      <!-- Konten halaman Anda di sini -->
    </div>
  
    <footer class="pt-4 mt-5 footBar position-absolute fixed-bottom">
      <div class="container">
        <div class="row">
          <p class="mb-0 text-center">&copy; 2023 PH by Project Akhir Kelompok 4. All Right Reserved.</p>
        </div>
      </div>
    </footer>
  
  </body>
</html>