<!-- modal create  -->
<div class="modal fade" id="create" tabindex="-1" aria-labelledby="createLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="createLabel">create country</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          <form action="">
          </div>
          <div class="modal-body">
  
  <!-- judul  -->
            <div class="input-group mb-4 mt-2">
              <span
                class="input-group-text fw-bold bg-secondary-subtle"
                id="judul"
                >judul</span>
  
              <input
                type="text"
                class="form-control"
                aria-label="Sizing example input"
                aria-describedby="judul"
                id="created-judul"
                required/>
            </div>
  <!-- link  -->
            <div class="input-group mb-4 mt-2">
              <span
                class="input-group-text fw-bold bg-secondary-subtle"
                id="link"
                >Link File</span>
  
              <input
                type="text"
                class="form-control"
                aria-label="Sizing example input"
                aria-describedby="link"
                id="created-link"
                required/>
            </div>
  <!-- deskripsi  -->
            <div class="input-group mb-4 mt-2">
              <span
                class="input-group-text fw-bold bg-secondary-subtle"
                id="deskripsi"
                >Deskripsi</span>
  
              <input
                type="text"
                class="form-control"
                aria-label="Sizing example input"
                aria-describedby="deskripsi"
                id="created-deskripsi"
                required/>
            </div>
  <!-- pencipta  -->
  <div class="input-group mb-4 mt-2">
    <span
      class="input-group-text fw-bold bg-secondary-subtle"
      id="pencipta"
      >Pencipta</span>
  
    <input
      type="text"
      class="form-control"
      aria-label="Sizing example input"
      aria-describedby="pencipta"
      id="created-pencipta"
      required/>
  </div>
  
  <!-- kategori  -->
  <div class="input-group mb-4 mt-2">
    <span
      class="input-group-text fw-bold bg-secondary-subtle"
      id="kategori"
      >kategori</span>
  
    <select
      class="form-select"
      aria-label="Default select example"
      aria-describedby="kategori"
      id="create-kategori"
      required>
    </select>
    
  </div>